<!doctype html>
<html lang="en" ng-app="orrApp">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<title>ORR - One Ring Roller</title>

		<link rel="icon" href="favicon.ico" type="image/x-icon">

		<link rel="stylesheet" href="deps/barekit.css">
		<link rel="stylesheet" href="orr/sprite-dice.css">

		<!-- TODO Move to SCSS -->
		<style type="text/css">
			h2 {
				margin-top: 0;
				margin-bottom: 0;
			}
			.bottomSeparated {
				margin-bottom: 0.5em;
			}
			.topPaddedSmall {
				padding-top: 0.25em;
			}
			.hide {
				display: none !important;
			}
			.dice {
				display: inline-block;
			}
			.doRoll {
				padding: 0.5em 1em;
			}
			.panel {
				background-color: #eee;
				padding: 0.5em;
				border: 1px solid #ccc;
			}
			.disabledDie {
				opacity: 0.5;
			}

			/* For AngularJS's ng-cloak attribute. */
			[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  				display: none !important;
			}
		</style>

	</head>

	<body>

		<div ng-controller="OrrCtrl" ng-cloak>

			<div class="row">
				<div class="sm-8 lg-5 has-gutter">
					<h2>One Ring Roller</h2>
					<div>Alpha v0.0.1</div>
				</div>
				<div class="sm-4 lg-7 has-gutter topPaddedSmall bottomSeparated">
					<input type="submit" value="Roll" class="doRoll" ng-click="doRoll()"/>
				</div>
			</div>

			<div class="row">

				<div class="sm-12 lg-5 has-gutter">


					<div class="row bottomSeparated">
						<div class="sm-12 md-3 has-gutter bottomSeparated">
							<strong>Feat Dice</strong>
						</div>
						<div class="sm-12 md-9 has-gutter">
							<label class="radio">
								<input type="radio" ng-model="featDice" value="1">
								<span>One</span>
							</label>
							<label class="radio">
								<input type="radio" ng-model="featDice" value="2">
								<span>Two high</span>
							</label>
							<label class="radio">
								<input type="radio" ng-model="featDice" value="3">
								<span>Two low</span>
							</label>
							<label class="radio">
								<input type="radio" ng-model="featDice" value="0">
								<span>None</span>
							</label>
						</div>
					</div>

					<div class="row bottomSeparated">
						<div class="sm-12 md-3 has-gutter bottomSeparated">
							<strong>Success Dice</strong>
						</div>
						<div class="sm-12 md-9 has-gutter">
							<label class="radio">
								<input type="radio" ng-model="successDice" value="1">
								<span>One</span>
							</label>
							<label class="radio">
								<input type="radio" ng-model="successDice" value="2">
								<span>Two</span>
							</label>
							<label class="radio">
								<input type="radio" ng-model="successDice" value="3">
								<span>Three</span>
							</label>
							<label class="radio">
								<input type="radio" ng-model="successDice" value="4">
								<span>Four</span>
							</label>
							<label class="radio">
								<input type="radio" ng-model="successDice" value="5">
								<span>Five</span>
							</label>
							<label class="radio">
								<input type="radio" ng-model="successDice" value="6">
								<span>Six</span>
							</label>
						</div>
					</div>

					<div class="row bottomSeparated">
						<div class="sm-12 has-gutter">
							<strong>Conditions</strong>
						</div>
					</div>
					<div class="row bottomSeparated">
						<div class="sm-3 has-gutter">
							<label class="checkbox">
								<input type="checkbox" ng-model="isWeary">
								<span>Weary?&nbsp;</span>
							</label>
						</div>
						<div class="sm-3 has-gutter">
							<label class="checkbox">
								<input type="checkbox" ng-model="isEnemy">
								<span>Enemy roll?</span>
							</label>
						</div>
					</div>

				</div>

				<div class="sm-12 lg-7 has-gutter">

					<div class="row">
						<div class="sm-12 has-gutter bottomSeparated">
							<strong>Result #{{results.length}} @
								<span ng-if="!results[0].dateStamp">TBD</span>
								<span ng-if="results[0].dateStamp">{{results[0].dateStamp | date:'mediumTime'}}</span>
							</strong>
						</div>
					</div>

					<div class="row">
						<div class="sm-12 has-gutter">
							<span ng-if="!results[0].dateStamp">-- press roll first --</span>
							<span ng-repeat="d12 in results[0].d12s" class="dice dice-d12-{{d12.value}}"></span>
							<span ng-repeat="d6 in results[0].d6s" class="dice dice-d6-{{d6.value}}"></span>
						</div>
					</div>

					<div class="row" ng-if="results.length > 0">
						<div class="sm-12 has-gutter">
							<div class="panel">
								<div ng-repeat="result in results" class="bottomSeparated">
									Result #{{results.length - $index}}:
									<strong ng-if="result.automaticSuccess">automatic</strong>
									<strong>{{result.type}}</strong>
									<span>success of</span>
									<strong>{{result.value}}</strong>.
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>

		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="deps/angular.min.js"></script>
		<script src="deps/barekit.min.js"></script>
		<script src="orr/orr-angular.js"></script>

		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-53424269-2', 'auto');
		ga('send', 'pageview');

		</script>

	</body>

</html>